.navbar-nav .nav-link:hover {
    color: rgb(255, 98, 0) !important;
}

.nav-icon .nav-link:hover {
    color: rgb(29, 29, 27) !important;
}

.card:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.progress {
    height: 6px;
}

.btn-custom {
    background-color: #ff7700;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

.btn-custom:hover {
    background-color: rgb(204, 89, 8);
}

.btn-orange {
    background-color: #ff7700;
    color: white;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: #ff6a00;
}

.card-text small {
    color: gray;
}

.title-highlight {
    color: #ff6a00;
}

.px-6 {
    padding-left: 11rem;
    padding-right: 11rem;
}

.footer-link .footer-sec:hover {
    color: #ff6a00;
}

.footer-link {
    color: #aaacbd87;
    text-decoration: none;
}

.footer-link:hover {
    color: #ff6a00 !important;
}

.footer-icon:hover {
    color: #ff6a00 !important;
}

.custom-carousel-btn {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 120px;
}

.carousel-control-next {
    left: 170px;
}

.custom-carousel-btn span {
    background-image: none;
    font-size: 1.2rem;
    color: white;
}

.carousel-control-prev-icon::before {
    content: '\2039';
    /* Unicode for ‹ */
    font-size: 1.5rem;
    color: white;
}

.carousel-control-next-icon::before {
    content: '\203A';
    /* Unicode for › */
    font-size: 1.5rem;
    color: white;
}