.navbar-nav .nav-link:hover {
    color: rgb(255, 213, 0) !important;
}

.nav-icon .nav-link:hover {
    color: rgb(29, 29, 27) !important;
}

.card:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.progress {
    height: 6px;
}

.btn-orange {
    background-color: #ffbb00;
    color: white;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: #ffbb00;
}

.card-text small {
    color: gray;
}

.title-highlight {
    color: #ffbb00;
}

.px-6 {
    padding-left: 11rem;
    padding-right: 11rem;
}

.footer-link .footer-sec:hover {
    color: #ffbb00;
}

.footer-link {
    color: #aaacbd87;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffbb00 !important;
}

.footer-icon:hover {
    color: #ffbb00 !important;
}